<select class="form-control" ng-model="itemData.itemType" ng-click="lstComponentSelected( )">
	<option value="textbox">Text Box</option>
	<option value="textarea">Text Area</option>
	<option value="selectlist">Select List</option>
	<option value="selectbutton">Select Buttons</option>
	<option value="checkbox">Check Box</option>
	<option value="title">Title</option>
	<option value="hr">Horizontal Line</option>
</select>
<!-- ADD OPTIONS ACCORDING TO CHOOSE ON SELECT -->
<!-- TEXTBOX -->
<div ng-if="itemData.itemType == 'textbox'">
	<form class="form-horizontal">
		<div class="form-group">
			<div class="col-xs-offset-2 col-xs-10">
				<div class="checkbox">
					<label>
						<input type="checkbox" ng-model="itemData.data.mandatory" />This item is mandatory</label>
				</div>
			</div>	
		</div>
		<div class="from-group">
			<label class="col-xs-2 control-label">Label</label>
			<div class="col-xs-10">
				<input type="textbox" class="form-control" ng-model="itemData.data.label" placeholder="Type the component label" />
			</div>
		</div>
	</form>
</div>
<!-- /TEXTBOX -->
<!-- TEXTAREA -->
<div ng-if="itemData.itemType == 'textarea'">
	<form class="form-horizontal">
		<div class="form-group">
			<div class="col-xs-offset-2 col-xs-10">
				<div class="checkbox">
					<label>
						<input type="checkbox" ng-model="itemData.data.mandatory" />This item is mandatory</label>
				</div>
			</div>
		</div>
		<div class="from-group">
			<label class="col-xs-2 control-label">Label</label>
			<div class="col-xs-10">
				<input type="textbox" class="form-control" ng-model="itemData.data.label" placeholder="Type the component label" />
			</div>
		</div>
	</form>
</div>
<!-- /TEXTAREA -->
<!-- SELECTLIST -->
<div ng-if="itemData.itemType == 'selectlist'">
	<form class="form-horizontal">
		<div class="form-group">
			<div class="col-xs-offset-2 col-xs-10">
				<div class="checkbox">
					<label>
						<input type="checkbox" ng-model="itemData.data.mandatory" />This item is mandatory</label>
				</div>
			</div>
		</div>
		<div class="from-group">
			<label class="col-xs-2 control-label">Label</label>
			<div class="col-xs-10">
				<input type="textbox" class="form-control" ng-model="itemData.data.label" placeholder="Type the component label" />
			</div>
		</div>
		<div class="from-group">
			<label class="col-xs-2 control-label">List Items</label>
			<div class="col-xs-10">
				<textarea class="form-control" : ng-model="itemData.data.options" ng-list="/\n/" ng-trim="false" rows="5" columns="15"></textarea>
			</div>
		</div>
	</form>
</div>
<!-- /SELECTLIST -->
<!-- SELECTBUTTONS -->
<div ng-if="itemData.itemType == 'selectbutton'">
	<form class="form-horizontal">
		<div class="form-group">
			<div class="col-xs-offset-2 col-xs-10">
				<div class="checkbox">
					<label>
						<input type="checkbox" ng-model="itemData.data.mandatory" />This item is mandatory</label>
				</div>
			</div>
		</div>
		<div class="from-group">
			<label class="col-xs-2 control-label">Label</label>
			<div class="col-xs-10">
				<input type="textbox" class="form-control" ng-model="itemData.data.label" placeholder="Type the component label" />
			</div>
		</div>
		<div class="from-group">
			<label class="col-xs-2 control-label">List Items</label>
			<div class="col-xs-10">
				<textarea class="form-control" : ng-model="itemData.data.options" ng-list="/\n/" ng-trim="false" rows="5" columns="15"></textarea>
			</div>
		</div>
	</form>
</div>
<!-- /SELECTBUTTONS -->
<!-- CHECKBUTTONS -->
<div ng-if="itemData.itemType == 'checkbox'">
	<form class="form-horizontal">
		<div class="form-group">
			<div class="col-xs-offset-2 col-xs-10">
				<div class="checkbox">
					<label>
						<input type="checkbox" ng-model="itemData.data.mandatory" />This item is mandatory</label>
				</div>
			</div>
		</div>
		<div class="from-group">
			<label class="col-xs-2 control-label">Label</label>
			<div class="col-xs-10">
				<input type="textbox" class="form-control" ng-model="itemData.data.label" placeholder="Type the component label" />
			</div>
		</div>
		<div class="from-group">
			<label class="col-xs-2 control-label">List Items</label>
			<div class="col-xs-10">
				<textarea class="form-control" : ng-model="itemData.data.options" ng-list="/\n/" ng-trim="false" rows="5" columns="15"></textarea>
			</div>
		</div>
	</form>
</div>
<!-- /CHECKBUTTONS -->
<!-- TITLE -->
<div ng-if="itemData.itemType == 'title'">
	<form class="form-horizontal">
		<div class="from-group">
			<label class="col-xs-2 control-label">Title</label>
			<div class="col-xs-10">
				<input type="textbox" class="form-control" ng-model="itemData.data.label" placeholder="Type the component label" />
			</div>
		</div>
	</form>
</div>
<!-- /TITLE -->